@import "../../App.css";

.BodyWrapper {
  background-color: var(--white);
  margin-top: -10px;
}
.Body {
  background-color: rgb(255, 255, 255);
  align-self: center;
  width: 100%;
}
.Wrapper {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 70vw;

  margin: 0 auto;
}


.ItemsCarouselWrapper {
  width: 90vw;

  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-top: -270px;
}
.CarouselCard {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  height: 25vh;

  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;

  background-color: var(--secondary);
  border-radius: 0.4rem;
  box-shadow: 0.2px 0.5px 0.5px rgba(0, 0, 0, 0.02),
    0.5px 1.1px 1.3px rgba(0, 0, 0, 0.028), 1px 2.1px 2.4px rgba(0, 0, 0, 0.035),
    1.8px 3.8px 4.2px rgba(0, 0, 0, 0.042),
    3.3px 7.1px 7.9px rgba(0, 0, 0, 0.05), 8px 17px 19px rgba(0, 0, 0, 0.07);
}

.CarouselCardActive {
  display: flex;
  align-items: flex-start;
  height: 30vh;
  width: 110%;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;

  margin-left: -5%;
  background-color: var(--secondary);
  border-radius: 1rem;
  box-shadow: 0.2px 0.5px 0.5px rgba(0, 0, 0, 0.02),
    0.5px 1.1px 1.3px rgba(0, 0, 0, 0.028), 1px 2.1px 2.4px rgba(0, 0, 0, 0.035),
    1.8px 3.8px 4.2px rgba(0, 0, 0, 0.042),
    3.3px 7.1px 7.9px rgba(0, 0, 0, 0.05), 8px 17px 19px rgba(0, 0, 0, 0.07);
}

.mainText {
  position: absolute;

  height: 30%;
  background-color: rgba(0, 0, 0, 0.61);
  width: 100%;
  color: var(--orange);
  font-size: 2.5em;
}
.CarouselPhoto {
  color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.CarouselPhoto img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}



.AboutBackground {
  width: 100%;
  display: flex;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1218%26quot%3b)' fill='none'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1219%26quot%3b)'%3e%3cpath d='M875 425L725 575L425 575L325 475L325 425L575 175L575 75' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M862.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM562.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M425 475L475 525L525 525L1025 25L1325 25L1375 75' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M412.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1362.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M475 25L325 25L225 125L25 125' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M462.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM12.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M175 525L375 325L375 75' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M162.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM362.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1175 425L1175 575' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1162.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1162.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M875 475L775 575' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M862.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM762.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M625 475L725 375L1275 375L1425 525L1425 575' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M612.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1412.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M925 225L1225 225L1425 425L1425 475' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M912.5 225 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1412.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M425 275L525 175L525 25' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M412.5 275 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM512.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M175 375L175 475L75 575L25 575' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M162.5 375 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM12.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1125 325L1275 325' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1112.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1262.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M75 425L25 475L25 525' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M62.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM12.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M25 225L25 275L125 375L125 475L75 525' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M12.5 225 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM62.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M975 525L1025 575L1125 575' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M962.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1112.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M525 425L525 275L775 25L925 25' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M512.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM912.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1125 475L1075 525L1025 525L925 425' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1112.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM912.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M725 175L825 175L925 75' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M712.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM912.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1125 75L1325 75L1425 175L1425 375' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1112.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1412.5 375 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M325 75L325 325L225 425' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M312.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM212.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1175 175L925 175' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1162.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM912.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M875 525L925 575L975 575' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M862.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM962.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1425 25L1425 125' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1412.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1412.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1375 525L1275 425L1225 425' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1362.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1212.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M675 475L725 475L775 425' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M662.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM762.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1025 425L1125 425' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1012.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1112.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M625 125L625 25' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M612.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM612.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M675 275L675 175' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M662.5 275 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM662.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M175 325L125 325L75 275L75 175' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M162.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM62.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M175 225L175 275L225 325L225 375' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M162.5 225 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM212.5 375 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M225 275L225 175L275 125' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M212.5 275 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM262.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1125 125L1025 125' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1112.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1012.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M525 475L425 375' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M512.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM412.5 375 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1325 225L1325 125' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1312.5 225 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1312.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M175 75L25 75' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M162.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM12.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1225 475L1275 475L1375 575' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1212.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1362.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M275 575L275 475' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M262.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM262.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M425 225L425 125' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M412.5 225 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM412.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1075 275L1025 325L925 325' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M1062.5 275 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM912.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M25 25L125 25' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M12.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM112.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M575 325L575 425' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M562.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM562.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M725 525L625 525' stroke-width='8.33' stroke='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3cpath d='M712.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM612.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1218'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1219'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M868.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM568.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M418.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1368.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M468.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM18.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M168.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM368.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1168.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1168.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M868.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM768.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M618.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1418.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M918.75 225 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1418.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M418.75 275 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM518.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M168.75 375 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM18.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1118.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1268.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M68.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM18.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M18.75 225 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM68.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M968.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1118.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M518.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM918.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1118.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM918.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M718.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM918.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1118.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1418.75 375 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M318.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM218.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1168.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM918.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M868.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM968.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1418.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1418.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1368.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1218.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M668.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM768.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1018.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1118.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M618.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM618.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M668.75 275 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM668.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M168.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM68.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M168.75 225 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM218.75 375 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M218.75 275 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM268.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1118.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1018.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M518.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM418.75 375 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1318.75 225 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1318.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M168.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM18.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1218.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1368.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M268.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM268.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M418.75 225 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM418.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1068.75 275 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM918.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M18.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM118.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M568.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM568.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M718.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM618.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-color: #777;
  padding: 20px 0;
  justify-content: center;
}

.AboutBackground .Wrapper {
  display: flex;
}

.About {
 
  width: 50%;
  height: auto;

  color: var(--white);
}
.About p {
  font-size: 1.7em;
}

.About h2{
    position: relative;
    font-size: 2em;
    font-weight: normal;
    padding-left: 20px;
    left: -25px;
    border-left: 5px solid var(--orange);
  
  }
.About button {
    position: relative;
    background: var(--orange);
    border-radius: 30px;
	color: var(--white);
	border: none;
    left: -5px;
    margin-top: 50px;
	padding: 13px 25px;
   
	font: inherit;
    font-weight:bold;
    font-size: 1.5em;
    
	cursor: pointer;
	outline: inherit;
  transition-duration: 0.5s;
}



.About button:hover {
  transform: translate(0px, -7px);
  background: var(--white);
  color: var(--orange);
  transition-duration: 0.5s;
}
.headshotContainerMobile{
  display: none;
}


.headshotContainerWeb{
  display: flex;
 
  height: 100%;
  min-width: 700px;
  width: 33%;
  padding-inline: 40px;
  align-items: center;
  justify-content:center;
  
}
.Headshot{
z-index: 10;
  position: absolute;
  height: auto;
  width: 50%;
  max-width: 500px;
  max-height: 500px;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.093));
}
.AboutBackground svg {
  position:absolute;
  height:auto;
  width: 50%;
  width: 760px;
  height: 760px;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.103));


}



@media (max-width: 900px) {
  h1 {
    font-size: 4.5em;
  }
  .Wrapper {
    padding-top: 20px;
    padding-bottom: 150px;
    width: 100vw;
    height: auto;
    margin: 0 auto;
  }


  .ItemsCarouselWrapper svg {
    display: none;
  }

  .CarouselCard,
  .CarouselCardActive {
    background-color: var(--secondary);
    border-radius: 0.4rem;
    box-shadow: 0 10px 20px -15px rgba(15, 72, 179, 0.2);
  }
  .CarouselCard {
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .CarouselCardActive {
    visibility: hidden;
    height: 300px;
    width: 110%;
    margin-top: 0px;
    margin-left: 0%;
  }

  .ItemsCarouselWrapper {
    width: 100vw;
    margin: 0 auto;
  }


  .About{
      width: 90%;
      height: auto;
      margin:5px;
      margin-bottom: 30px;
      padding-left: 10px;
  }

  .About h2{
margin-left: 30px;}

  .Wrapper{
    height: 100%;
  

      }
  .AboutBackground{
    
  }
  .headshotContainerWeb{
    display: none;

    
  }
  .headshotContainerMobile{
    display: flex;
 
  height: 100%;
  width:100%;
  align-items: center;
  justify-content:center;
  padding-bottom: 90px;
  

    
  }

  .Headshot{
    z-index: 10;
      position: relative;
      height:auto;
      width: 70%;
   

    
    }
    .AboutBackground svg {
      position:absolute;
      height:auto;
      width: 95%;

    
    }
  .AboutBackground .Wrapper {
    display: flex;
    flex-direction: column;
  }
}
