
:root {
    --gray: #535151;
    --lightgray: #bbbbbb;
    --white: #ffffff;
    --orange:#5cb6dd;
    --secondary:#e6f6ff;
    
    color: var(--gray)
  }
html {
    scroll-behavior: smooth;
   
}
html, body {
  overflow-x: hidden;

}
h1 {
  font-size: 4.5em;
}


body {
  position: relative
}

.App {
    
    display:flex;
    flex-direction: column;
    
}

